.pokemon-card {
    padding: 12px;
    background-color: #3f3f3f;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    width: 100%;
    min-width: 0;
}

.spanning-img {
    grid-row: span 3;
    grid-column: 1;
}