.speed-tiers {
    display: flex;
    flex-direction: row;
    table-layout: fixed;
    justify-content: center;
}

.speed-table th, .speed-table td {
    padding: 4px;
    width: 80px;
    overflow: hidden;   
}

.opp {
    background-color: #8b0000;
}

.you {
    background-color: #000080;
}