* {
  font-family: 'Source Sans 3', sans-serif;
  margin: 0;
  padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    color: white;
    background-color: #373636;
    width: 100%;
    overflow: hidden;
}

header h1 {
    font-size: 28px;
    font-weight: 700;
    margin: 0;
    padding: 14px 16px;
}

header h1 span {
    color: #ff4040;
}