header ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;
}

.team-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  min-width: 0;
  gap: 1rem;
}

footer {
  font-size: 12px;
}
